.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.displyaNone {
  display: none;
}
