.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.todoCount {
  color: grey;
  margin-left: 5px;
}

.clearComplited {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: 0;
  background: transparent;
  color: grey;
  cursor: pointer;
  /* text-decoration: underline; */
}
